<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="GraphDbEndpoint" value=""/>
  <add key="GraphDbAuthKey" value=""/>
  <add key="GraphDbName" value="graphdb"/>
  <add key="GraphDbCollectionName" value="Devices"/>
  <add key="ServiceBusConnectionString" value=""/>
  <add key="EventHubName" value="syncgraphdbeventhub"/>
  <add key="StorageConnectionString" value=""/>
  <add key="IotHubConnectionString" value=""/>
</appSettings>
