<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="GraphDbEndpoint" value="https://ailn-graph.documents.azure.com:443/"/>
  <add key="GraphDbAuthKey" value="AOxCOJiLCjsCtCTGQ5il4N72dPHVGCVMclOOQj34WkSAkLqvfcnBaOI19Xm66QIbxOwg2cCcwIC2jfKpTa8HEA=="/>
  <add key="GraphDbName" value="graphdb"/>
  <add key="GraphDbCollectionName" value="Devices"/>
  <add key="ServiceBusConnectionString" value="Endpoint=sb://ailn-sample.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=5SJDI1QBXpJUd5C4Z+wJP1Y4eQP7ZDT9vgkRdNnoHT0="/>
  <add key="EventHubName" value="ailn-sample-twin-notifications"/>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ailnsample;AccountKey=8bqrvviAQvXKw2EAMK1DflqhwGSKky+nmNp6gk1Hy5kelRoejKez+NC8GMCF8B8ozoyzw9gZdyTVEJikXzZQpA==;EndpointSuffix=core.windows.net"/>
  <add key="IotHubConnectionString" value="HostName=ailn-sample.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=w9ybyIkcgxTQ+wfty9fsoyZ6RRK+27XMPS6CUPrySOE="/>
</appSettings>
